
@import "../../commonStyles/index";

.loader {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 10vw;
  color: $voa-blue;

  .reloadButton {
    background: $light-grey;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px 30px;
    font-size: 0.5em;
  }

  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    .fader {
      height: 100%;
      width: 100%;
      background: rgba(255, 255, 255, 0.3);
    }
  }

  .spinner {
    width: 25vw;
    height: 25vw;
  }
}
