
@import '../../commonStyles/index.scss';

.card {
  @include touchable();

  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  user-select: none;

  .imageContainer {
    height: 70%;
  }

  .titleText {
    height: 30%;
    overflow: hidden;
    padding: 2vw 3vw;
    color: $dark-grey;
    font-size: 14px;
  }

  & + .card {
    margin-left: 1.5vw;

    [dir="rtl"] & {
      margin-left: 0;
      margin-right: 1.5vw;
    }
  }
}
