
@import '../../commonStyles/index.scss';

.card {
  @include touchable();

  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0.75vw;
  overflow: hidden;
  user-select: none;

  .imageContainer {
    height: 80%;
  }

  .titleText {
    font-weight: bold;
  }
}
