
@import '../../commonStyles/index.scss';

.card {
  @include touchable();

  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  user-select: none;

  .imageContainer {
    height: 80%;
  }

  .titleText {
    height: 20%;
    overflow: hidden;
    font-weight: bold;
  }

  & + .card {
    margin-left: 1.5vw;
  }
}
