
@import '../../commonStyles/index.scss';

$image-width: 30vw;

@keyframes imageSlide {
  from {
    width: 0;
  }
  to {
    width: $image-width;
  }
}

.ticket {
  @include touchable();

  flex: 1;
  display: flex;
  flex-direction: row;
  background: white;
  border-top: 1px solid $mid-grey;
  padding: 12px;
  height: 20vw;
  font-size: 3vw;
  overflow: hidden;
  user-select: none;

  .imageArea {
    width: 0;
    position: relative;
    visibility: hidden;
    background-size: cover;
    background-position: center;

    &.show {
      width: $image-width;
      visibility: visible;
      animation-duration: 0.3s;
      animation-name: imageSlide;
      animation-iteration-count: 1;
    }

    .iconOverlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .content {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 0 0 1px 1.5vw;
    position: relative;
    margin-top: -2px;

    [dir="rtl"] & {
      padding: 0 1.5vw 1px 0;
    }
  }

  .textContent {
    flex: 1;
    overflow: hidden;
    padding-left: 12px;

    .titleText {
      flex: 1;
      overflow: hidden;
      position: relative;
      font-weight: bold;
      font-size: 14px;
      padding-top: 6px;
    }
  }


  .minorText {
    position: absolute;
    bottom: 0;
    padding-bottom: 6px;
    padding-left: 12px;
    left: 1.5vw;
    color: #444;
    text-align: left;
    font-size: 11px;
    border-top: 2px solid white;
    color: $voa-blue;
    background: white;

    [dir="rtl"] & {
      left: auto;
      right: 1.5vw;
    }
  }
}
