
$size: 10px;
$toggleSize: 20px;
$ratio: 3;
$toggleOffset: ($toggleSize - $size) / 2;
$toggleOnOffset: ($size * $ratio - $toggleOffset - $size);

.innerSwitch {
  position: relative;
  width: $size * $ratio + 2;
  height: $size + 2;
  border-radius: $size / 2;
  background: #fff;
  border: 1px solid #ddd;
  transition: background 0.3s;

  .toggle {
    height: $toggleSize;
    width: $toggleSize;
    position: absolute;
    left: -$toggleOffset;
    top: -$toggleOffset;
    border-radius: $toggleSize;
    transition: left 0.3s;
    background: #ddd;
    border: 1px solid #bbb;
  }

  &.on {
    background: #ada;
    .toggle {
      left: $toggleOnOffset;
    }
  }
}
