
@import '../../commonStyles/index.scss';

.topNav {
  position: fixed;
  z-index: $menu-z;
  top: 0;
  left: 0;
  right: 0;
  background: $voa-light-grey;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  height: $menu-height;
  font-size: $menu-font-size;
  display: flex;

  &::-webkit-scrollbar {
    display: none;
  }

  .itemContainer {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    flex-wrap: nowrap;
    margin-left: $menu-height;
    margin-right: $menu-height;
    overflow-x: scroll;
  }

  .topNavItem {
    @include touchable();

    flex-grow: 1;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    white-space: nowrap;
    background: transparent;
    outline: none;
    border: none;
    border-radius: 0;
    font-size: 1em;
    color: $dark-grey;
    box-sizing: border-box;

    &.selectedItem {
      background-color: $voa-red;
      color: $white;
    }

    &:last-of-type {
      position: fixed;
      z-index: 100;
      top: 0px;
      right: 0px;
      height: $menu-height;
      width: $menu-height;
      justify-content: center;
      color: $mid-grey;
      font-size: calc(#{$menu-font-size} * 2.5);
      box-shadow: -2px 0 5px -2px rgba(51, 51, 51, 0.5);
    }
  }
  
  .fadeout {
    position: fixed;
    pointer-events: none;
    background: linear-gradient(90deg, rgba(256, 256, 256, 0), $voa-light-grey 90%, $voa-light-grey);
    top: 0;
    right: 0;
    height: $menu-height;
    width: 30vw;
    z-index: $menu-z + 1;

    [dir="rtl"] & {
      right: auto;
      left: 0;
      background: linear-gradient(-90deg, rgba(256, 256, 256, 0), $voa-light-grey 90%, $voa-light-grey);
    }
  }

  .centerText {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    color: $dark-grey;
    z-index: $menu-z + 2;
  }
}
