
@import '../../commonStyles/index.scss';

.topNav {
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  font-size: $menu-font-size;
  position: fixed;
  height: $menu-height;
  z-index: $menu-z;

  .itemContainer {
    flex: 1;
    position: relative;

    .innerContainer {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow-x: scroll;
      flex-wrap: nowrap;
      display: flex;
      flex-direction: row;
      align-content: stretch;
    }
  }

  .staticItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $menu-height;
    font-size: calc(#{$menu-font-size} * 2.5);
    box-shadow: 0 -2px 5px 2px rgba(51, 51, 51, 0.5);
    z-index: $menu-z + 1;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
  }

  .topNavItem {
    flex-grow: 1;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    white-space: nowrap;
    outline: none;
    border: none;
    border-radius: 0;
    font-size: 1em;
    box-sizing: border-box;
    background: transparent;
    color: inherit;
  }
  
  .fadeout {
    position: absolute;
    pointer-events: none;
    top: 0;
    right: 0;
    height: $menu-height;
    width: 20vw;
    z-index: $menu-z + 1;

    [dir="rtl"] & {
      right: auto;
      left: 0;
    }
  }

  .centerText {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    height: $menu-height;
    z-index: $menu-z + 2;
  }
}
