
/* Primary Colors */
$voa-red: #D41010;
$voa-blue: #0061B0;

/* Secondary Colors */
$white: #FFFFFF;
$black: #000000;
$dark-grey: #333333;
$mid-grey: #B4BCC2;
$voa-light-grey: #EEEEEE;
$voa-grey: $mid-grey;

/* Accent Colors */
$accent-blue: #2083C6;
$accent-green: #1AB088;
$accent-grey: #8E8E93;
$accent-yellow: #FAD245;

$offline-red: #820;
$online-green: #062;

/* Sizing / Spacing */
$menu-height: 50px;
$menu-font-size: 16px;

$menu-z: 10;
$menu-z-max: 13;

/* Legacy */
$light-grey: #F2F2F2;
$border-grey: #D5D5D5;
