
@import '../../commonStyles/index.scss';

.cardList {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;

  .row {
    display: flex;
    flex-direction: column;

    &.fixed {
      height: calc(100vw * 9 / 16 + 11px);
    }
  }
}
