
@import "../../commonStyles/index";

.drawer {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: $menu-height;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transform: translateY(100vh);
  transition: transform 0.3s;
  background: white;
  border-radius: 10px 10px 0 0;
  z-index: $menu-z-max;

  .drawerOpen & {
    transform: translateY(0);
  }

  .closeDrawer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 30px;
    height: 40px;
    color: #888;
    background: white;
    z-index: $menu-z + 5;

    i::before {
      transform: scale(2, 1)
    }
  }

  .content {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 40px 0;
    display: flex;
  }
}

.overlay {
  background: transparent;
  z-index: $menu-z-max;
  transition: 0.3s background;

  .drawerOpen & {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
  }
}