
@import "../../commonStyles/index.scss";

$round-item-offset: calc(-0.7vh + -10px);
$round-item-size: calc(2.5vh + 50px);

.bottomNav {
  height: $menu-height;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: $light-grey;
  border-top: 1px solid $border-grey;
  display: flex;
  flex-direction: row;
  font-size: $menu-font-size;
  overflow-y: show;

  .iconItem {
    flex-grow: 1;
    background: none;
    font-weight: bold;
    border: none;
    border-radius: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    outline: none;
    font-size: 1em;

    &.activeItem {
      color: rgba(0, 0, 0, 0.3);
    }

    &:active {
      background: white;
    }
  }

  .roundItem {
    background: none;
    font-weight: bold;
    border: none;
    border-radius: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    outline: none;
    margin-top: $round-item-offset;
    width: $round-item-size;
    height: $round-item-size;
    border-radius: $round-item-size;
    box-shadow: 0 -3px 2px rgba(0, 0, 0, 0.2);
    background: $light-grey;
    font-size: 1em;
    
    &.activeItem {
      color: rgba(0, 0, 0, 0.3);
    }

    &:active {
      background: white;
    }
  }
}
