
@import "../../commonStyles/index.scss";

$round-item-offset: 5px;
$round-item-size: calc(#{$menu-height} - 10px);

.bottomNav {
  height: $menu-height;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: $voa-light-grey;
  display: flex;
  flex-direction: row;
  font-size: $menu-font-size;
  overflow-y: show;

  .iconItem {
    flex: 1;
    background: none;
    font-weight: bold;
    border: none;
    border-radius: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    outline: none;
    color: $dark-grey;
    font-size: 1em;
    padding: 0;

    &.activeItem {
      color: $voa-blue;
    }

    &:active {
      background: white;
    }
  }

  .roundItem {
    font-weight: bold;
    border: 2px solid white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    outline: none;
    margin-top: $round-item-offset;
    width: $round-item-size;
    height: $round-item-size;
    border-radius: $round-item-size;
    // box-shadow: 0 -3px 2px rgba(0, 0, 0, 0.2);
    background: $mid-grey;
    font-size: 1em;
    padding: 0;
    
    &.activeItem {
      color: $voa-blue;
    }

    &:active {
      background: white;
    }
  }
}
