
@import '../../commonStyles/index.scss';

$indicator-height: calc(1vh + 22px);

.offlineIndicator {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: $offline-offset;
  left: 10px;
  right: 10px;
  opacity: 0;
  border-radius: 3vw;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: transparent;
  color: $light-grey;
  z-index: 9999;
  padding: 4px;

  &.offline {
    opacity: 0.8;
    background: $offline-red;
  }

  &.online {
    opacity: 0;
    background: $online-green;
    transition: opacity 0.5s ease-out 2s;
  }

  .text {
    flex: 1;
    text-align: center;
  }
}
